@page
@{
    ViewData["Title"] = "Início";
}
<h1>Bem-vindo ao SiteCarros</h1>
<p>Cadatros de veiculos para manutenção!!!.</p>

<a class="btn btn-primary" asp-page="/Veiculos/Index">Ver Lista de Veículos</a>
<a class="btn btn-success" asp-page="/Veiculos/Create">Cadastrar Novo Veículo</a>
