@page
@model DotNet.Pages.Usuarios.CriarModel
@{
    ViewData["Title"] = "Cadastrar Usuario";
}
<h2>@ViewData["Title"]</h2>

<form method="post">
    <div>
        <label for="Id">ID: </label>
        <input type="number" id="Id" name="Usuario.Id" required />
    </div>
    <div>
        <label for="Nome">Nome do usuario: </label>
        <input type="text" id="Nome" name="Usuario.Nome" required />
    </div>
    <div>
        <label for="Senha">Senha: </label>
        <input type="password" id="Senha" name="Usuario.Senha" required />
    </div>
    <div>
        <label for="Email">Email: </label>
        <input type="email" id="Email" name="Usuario.Email" required />
    </div>
    <button type="submit">Cadastrar</button>
    <a asp-page="/Usuarios/Index">Voltar</a>
</form>
