@page
@model DotNet.Pages.Usuarios.DetalharModel
@{
    ViewData["Title"] = "Detalhes do usuario";
}
<h2>@ViewData["Title"]</h2>

<div>
    <label>Id:</label>
    <span> @Model.Usuario.Id</span>
</div>
<div>
    <label>Nome:</label>
    <span> @Model.Usuario.Nome</span>
</div>
<div>
    <label>Email:</label>
    <span> @Model.Usuario.Email</span>
</div>

<a class="btn btn-secondary" asp-page="/Usuarios/Index">Voltar</a>
