@page
@model DotNet.Pages.ProdutoModel
@{
	ViewData["Title"] = "Cadastro de produtos";
	ViewData["teste"] = "Estou aqui testando esta forma de dados";
}

<h2> @ViewData["Title"]</h2>
<p> @ViewData["teste"]</p>
<table>
	<thead>
		<tr>
			<th>Nome produto</th>
			<th>Preço</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var produto in Model.Produtos)
		{
			<tr>
				<td>@produto.Descricao</td>
				<td>@produto.Preco.ToString("C")</td>
			</tr>
		}
	</tbody>
</table>
